<h1>Scenes</h1>
<hr>
<% @book.scenes.each do |f| %>
	<div class="scene-block">
			<h5>Chapter: <%= f.chapter %></h5>
			<h5>Page: <%= f.page %></h5>
			<b>Comments</b>: <%= f.notes %></br>
			<%= link_to "Upvote", book_upvote_path(@book, f), method: :post %> (<%= f.upvote %>)
			<%= link_to "Downvote", book_downvote_path(@book, f), method: :post %> (<%= f.downvote %>)
		<p>
			Tags: <%= raw f.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %>
		</p>
		<%= link_to "delete", book_scene_path(@book, f), method: :delete %>
		<hr>
	</div>
<% end %>