<h1>Edit Book</h1>

<% if current_user %>
  <% if current_user.email == "admin@admin.com" %>
    <%= form_for @book do |f| %>
    	<p>
    		<%= f.label :name %>
    		<%= f.text_field :name %>
    	</p>
    	<p>
    		<%= f.label :author %>
    		<%= f.text_field :author %>
    	</p>
    	<p>
    		<%= f.submit %>
    	</p>
    <% end %>
  <% end %>
<% else %>
	<p>
		You do not have permissions to edit books.
	</p>

<% end %>
