
<div id = "search-bar">
  <div id="the-basics">
        <%= form_tag book_search_path, method: "GET" do %>
          <input class="form-control typeahead" type = "text" name = "search" placeholder = "Search for Book"/>
          <button type = "submit" class="btn btn-default" name = "GO" />Submit</button>
        <% end %>
   </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
      <% @books.each do |book| %>
        <div class="col-xs-6 col-md-2 cf">
          <div class="thumbnail cf">
            <div class="cropped_image left" data-toggle = "toggle" data-placement = "bottom" title = "<%= book[:name]%> by <%= book[:author] %>">
               <%= link_to image_tag(book.cover), "/books/#{book.id}" %>
            </div>
          </div>
          <% if current_user %>
            <% if current_user.email == "admin@admin.com" %>
              <%= link_to "Delete Book", book_path(book), method: :delete %> | 
              <%= link_to "Edit Book", edit_book_path(book) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

<script>
  $('.cropped_image').tooltip();
</script>




