<h1>Add a new book!</h1>
<div id="modal-new-fields">
	<%= form_for @book do |f| %>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :author %>
			<%= f.text_field :author %>
		</p>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= button_tag(type: "submit", class: "btn btn-primary") do %>
				Submit
			<% end %>
		</div>
	<% end %>
</div>