<h1>Add a new book!</h1>

<%= form_for @book do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :genre %>
		<%= f.text_field :genre %>
	</p>
	<p>
		<%= f.label :ISBN %>
		<%= f.number_field :ISBN %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>